@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
}

.md-editor-toolbar-item svg.md-editor-icon {
  width: 23px;
  height: 23px;
}
.text-green-500 {
  color: #22c55e;
}
.text-red-500 {
  color: #ef4444;
}
.text-orange-500 {
  color: #f97316;
}
